.container {
    width: min(100%, 1440px);
    margin: auto;
    padding: 6px 130px;
}

/* header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 38px;
    height: 38px;
    margin-right: 14px;
    vertical-align: middle;
}



.header_logo_text {
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    display: inline-block;
    vertical-align: middle;
    color: #FA793C;
}


.header_ul {
    display: flex;
    column-gap: 32px;
}


.header_li_link {
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
}

.header_list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}


/*section1*/


.section1 {
    height: 550px;
    position: relative;
}



.section1_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.section1_section {
    width: 1180px;
    height: 179px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.section1_title {
    font-family: Kanit;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


.section1_text {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
}


/*section2*/



.section2 {
    width: calc(1180 / 1440 * 100%);
    display: flex;
    margin: 130px;
    background-color: #FA793C;
}

.section2_article {
    width: 380px;
    height: 310px;
}


.section2_article_img_article {
    width: 378px;
    height: 189px;
}



.section2_article_img{
    width: 100%;
    height: 100%;
}